extends ../layouts/main-layout.pug

block title
  title Add new product

block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")

block content
  main
    form.product-form(action="/admin/add-product", method="POST")
      .form-control
        label(for="title") Title
        input(type="text", name="title")#title
      .form-control
        label(for="title") ImageUrl
        input(type="text", name="imageUrl",
              value="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png")#imageUrl
      .form-control
        label(for="title") Price
        input(type="number", name="price", step="0.01")#price
      .form-control
        label(for="title") Description
        textarea(name="description", rows="5")#description

      button.btn(type="submit") Add Product